.head  {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    width:100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.logo img {
    width: 60px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    gap:5px;
    font-size: 12px;
    line-height:20px;
    font-weight:600;
    color:rgb(105, 107, 121);
    letter-spacing:3px;

}
.breadcrumbs main {
    color: rgb(20,205,168);
}
.secure {
    display: flex;
    align-items: center;
    gap:5px;
    color:rgb(83, 87, 102);
    font-size:12px;
    line-height:78px;
    letter-spacing:3px;
    font-weight:600;
}
.secure img{
    width: 30px;
}
.emptyCart {
    text-align: center;
    margin: 100px 0;
}
.emptyCart img {
    width: 200px;
}
.emptyCart main {
    color:rgb(66, 69, 83);
    font-size:20px;
    line-height:28px;
    font-weight:600;
}
.emptyCart div {
    color:rgb(126, 129, 140);
font-size:14px;
line-height:20px;
font-weight:400;
}
.emptyCart button {
    color:rgb(255, 63, 108);
    font-size:14px;
    line-height:20px;
    letter-spacing:1px;
    font-weight:600;
    border: 1px solid rgb(255, 63, 108);
    padding:10px 10px;
    background-color: white;
    margin: 20px;
    cursor: pointer;
}