.content {
    display:flex;
    width:80%;
    margin: auto;
    margin-top: 120px;
    color:rgb(40, 44, 63);
    border: 1px solid rgb(212, 211, 211);
    border-radius: 7px;
    padding-bottom: 20px;
}
.detail {
    padding:0 20px;
    padding-top: 10px;
}
.pincheck {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border:1px solid rgb(206, 203, 203);
    border-radius: 7px;
}

.pincheck div {
    color:rgb(40, 44, 63);
    font-size:14px;
    line-height:20px;
    font-weight:600;
}
.pincheck button, .apply button {
    color:rgb(255, 63, 108);
    font-size:12px;
    padding:8px 16px;
    font-weight:600;
    border: 1px solid rgb(255, 63, 108);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.offers {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 7px;
}
.offers > div {
    padding-left: 10px;
    margin-top: 10px;
}

.offers main, .items main {
    display: flex;
    align-items: center;
    gap:10px;
    font-size:14px;
    line-height:20px;
    font-weight:600
}

.fontPink{
    color:rgb(255, 63, 108);
    font-size:14px;
    line-height:20px;
    font-weight:600;
    cursor: pointer;
}
.offers >div:nth-child(2) {
    font-size:13px;
    font-weight:400;
}
.items {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
}
.items > div {
    display:flex;
    align-items: center;
    gap: 10px;
    color:rgb(83, 87, 102);
    font-size:12px;
    line-height:15px;
    font-weight:600;
}
.items button {
    border: 1px solid rgb(226, 225, 225);
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    border-radius:7px;
    font-weight: 500;
    font-size: 14px;
    line-height:15px;
}
.items button:hover {
    background-color:rgb(243, 213, 220);
    font-weight: 900px;
}

.description {
    display:flex;
    gap:15px;
    padding: 10px 0;
    font-size:14px;
    line-height:16px;
}
.description img {
    width: 100px;
    border-radius: 5px;
}
.info main {
    font-weight:600;
}
.info >div:nth-child(2) {
    font-weight: 400;
    margin:5px 0;
} 
.info > div:nth-child(3) {
    color:rgb(148, 150, 159);
    font-size:12px;
    line-height:17px;
    font-weight:400;
}
.size {
    display:flex;
    gap:25px;
    align-items: center;
    margin:10px 0
}
.size main {
    display: flex;
    align-items: center;
    gap:5px;
}
.size main div:last-child {
    cursor: pointer;
}
.price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:14px;
    line-height:20px;
}
.price div:nth-child(2) {
    text-decoration: line-through;
    color:rgb(148, 150, 159);
}
.price div:nth-child(3) {
    color:rgb(241, 101, 101);
}
.total {
    border-left: 1px solid rgb(212, 211, 211);
    padding: 10px 20px;
}
.total main {
    color:rgb(83, 87, 102);
    font-size:12px;
    line-height:17px;
    font-weight:600;
    margin-bottom: 10px;
}
.apply {
    display:flex;
    align-items:center;
    font-size: 14px;
    justify-content: space-between;
    margin: 10px 0;
}
.apply span {
    display:flex;
    align-items: center;
    gap: 10px;
}
.flex{
    display: flex;
    gap:3px;
    align-items: center;
    margin-bottom: 10px;
}
.total section {
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    font-size:14px;
    line-height:16px;
    color:rgb(64, 67, 82);
    font-weight:400;
}
.total > button {
    width: 100%;
    background-color:rgb(255, 63, 108);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius:5px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.total main {
    font-size: 14px;
}
.fontGreen {
    color: rgb(15, 124, 15);
    font-weight: 600;
}